.app {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-block: 32px;
}

.nameplate {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 24px;
}

.namecard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.namecard h1 {
  margin: 0;
  font-size: 3rem;
}

.namecard p {
  margin: 0;
  font-size: 1.75rem;
  color: #666;
}

.links {
  display: flex;
  gap: 12px;
  background-color: rgb(138, 0, 138);
  padding: 10px;
  border-radius: 8px;
}

.links a {
  margin: 0 10px;
  color: whitesmoke;
  transition: color 0.2s ease;
}

.links a:hover {
  color: dodgerblue;
  scale: 1.2;
  transition: color 0.2s ease, scale 0.2s ease;
}


.box-b img {
  max-width: 100%;
  border-radius: 8px;
}